<div class="container">
  <div class="game-title">
    <h1>{{ 'common.title' | translate }}</h1>
    <!-- <h3>All In One</h3> -->
  </div>
  <div class="game-list">
    <ul>
      <li *ngFor="let game of g.gameList" (click)="gotoPage(game.pageName)">
        <div class="icon">
          <img src="assets/icon/game/{{game.pageName}}.png" />
        </div>
        <div>
          <div class="name">{{ game.name | translate }}</div>
          <div class="star">
            99{{ game.star }} <i class="nwicon nwi-star-full"></i>
          </div>
        </div>
      </li>

      <!-- 
      <li>
        <div>Words</div>
      </li> -->
      <li class="more-coming">
        <div>{{ 'common.moreComing' | translate }}</div>
      </li>
      <li class="bottom-con">
        <div
          class="bottom-item"
          *ngFor="let bottomIcon of dialogService.bottomIcons"
          (click)="dialogService.openDialog(bottomIcon.popup)"
        >
          <i class="nwicon nwi-{{ bottomIcon.nwIcon }}"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
