.container {
  text-align: center;

  .game-title {
    font-weight: bold;
    padding-top: 5vh;
    margin-bottom: 5vh;

    h1 {
      font-size: 4.5vh;
      color: #004f93;
      margin-bottom: 1vh;
    }

    h3 {
      font-size: 3vh;
      color: #009771;
      margin-top: 0;
    }
  }

  .game-list {
    ul {
      li {
        height: 5vh;
        line-height: 5vh;
        margin-bottom: 1vh;
        font-size: 2.5vh;
        text-decoration: underline;
        color: #d64f0c;
        cursor: pointer;
      }

      .more-coming {
        text-decoration: none;
        color: gray;
        opacity: .7;
      }
    }
  }
}