<div class="control-container">
  <button class="btn btn-left" (click)="leftClick()">
    <i class="nwicon nwi-arrow-left"></i>
  </button>
  <button class="btn btn-right" (click)="rightClick()">
    <i class="nwicon nwi-arrow-left rotate-180"></i>
  </button>
  <button class="btn btn-up" (click)="upClick()">
    <i class="nwicon nwi-arrow-left rotate-90"></i>
  </button>
  <button class="btn btn-down" (click)="downClick()">
    <i class="nwicon nwi-arrow-left rotate-270"></i>
  </button>
</div>