.lang-list {
  display: block;

  .lang-item {
    display: block;
    width: 200px;
    height: 40px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ddd;
    color: #333;

    &.is-selected {
      color: #0763bf;
      border: 1px solid #0763bf;
      outline: 2px solid #0763bf;
    }
  }
}