// is-web
$borderRadiusLg: 20px;
$borderRadiusMd: 12px;
$borderRadiusSm: 6px;

$webPadding: 40px;
$webContainPadding: 20px;
$webAppContainerHeight: calc(100vh - #{$webPadding} * 2 - #{$webContainPadding} * 2);
$webMinWidth: 1140px;

/* 旧语法 */
// .section::-webkit-scrollbar-thumb:hover {
//   background-color: #5749d2;
// }

// /* 新语法 */
// .section {
//   scrollbar-color: #d4aa70 #e4e4e4;
//   transition: scrollbar-color 0.3s ease-out;
// }

// .section:hover {
//   scrollbar-color: #5749d2;
// }