<nm-ui-dialog (clickClose)="close()" [title]="'settings.name' | translate">
  <div class="settings-content">
    <div class="dialog-list">
      <div class="list-item" *ngIf="g.show.isHP">
        <label for="settings-test">{{ "settings.onlyGame" | translate }}</label>
        <ng-toggle
          id="settings-test"
          (click)="setOnlyGame()"
          [value]="settings.onlyGame"
        ></ng-toggle>
      </div>
      <div class="list-item" *ngIf="!g.show.isHP">
        <label for="settings-test">---</label>
      </div>
    </div>
  </div>
  <footer>
    <div class="button-con">
      <button class="btn-primary" (click)="save()">
        {{ "common.save" | translate }}
      </button>
      <button (click)="close()">{{ "common.close" | translate }}</button>
    </div>
  </footer>
</nm-ui-dialog>
