<div class="num-dashboard-container">
  <div class="title">{{'k.title' | translate }}</div>
  <div class="dashboard-con">
    <div class="dashboard-item" *ngFor="let item of dashboardList" (click)="go(item.route)">
      <div>
        <div class="name">{{ item.title | translate }}</div>
      </div>
    </div>
    <div class="dashboard-item dashboard-item-empty"></div>
    <div class="dashboard-item dashboard-item-empty"></div>
    <div class="dashboard-item dashboard-item-empty"></div>
    <div class="dashboard-item dashboard-item-empty"></div>
    <div class="dashboard-item dashboard-item-empty"></div>
    <div class="dashboard-item dashboard-item-empty"></div>
    <div class="dashboard-item dashboard-item-empty"></div>
  </div>