<div class="knowledge-container">
  <div class="left-nav-container">
    <div class="title-con">
      <div class="title">{{'k.title' | translate}}</div>
    </div>
    <div class="nav-con">
      <div class="nav-list">
        <div class="nav-item" [class.is-active]="currentNav.nav === navItem.nav" *ngFor="let navItem of navItems"
          (click)="switchNav(navItem)">
          {{navItem.name | translate}}</div>
      </div>
    </div>
    <div class="bottom-con">
      <div class="bottom-item" *ngFor="let bottomIcon of bottomIcons" (click)="openDialog(bottomIcon.popup)">
        <i class="nwicon nwi-{{bottomIcon.nwIcon}}"></i>
      </div>
    </div>
  </div>
  <div class="main-info-container" [class.only-web]="g.show.onlyWeb" [ngSwitch]="currentNav.nav">
    <nm-kg-home *ngSwitchCase="NavNum.Introduce"></nm-kg-home>
    <nm-kg-single-num *ngSwitchCase="NavNum.SingleNum"></nm-kg-single-num>
    <nm-kg-num-games *ngSwitchCase="NavNum.NumGames"></nm-kg-num-games>
  </div>
</div>