<div class="container">
  <div class="game-title">
    <h1>{{ 'common.title' | translate }}</h1>
    <!-- <h3>All In One</h3> -->
  </div>
  <div class="game-list">
    <ul>
      <li *ngFor="let game of g.gameList" (click)="gotoPage(game.pageName)">
        <div class="name">{{ game.name | translate }}</div>
      </li>

      <!-- 
      <li>
        <div>Words</div>
      </li> -->
      <li class="more-coming">
        <div>{{ 'common.moreComing' | translate }}</div>
      </li>
      <li class="about" (click)="gotoPage(PageName.about)">
        <div>{{ 'common.aboutAndContact' | translate }}</div>
      </li>
    </ul>
  </div>
</div>