<div class="num-guess-play-container" #numGuessPlayContainer>
  <nm-ui-header [title]="'gameName.numGuess' | translate" [backEnabled]="true" (back)="g.navigate()"></nm-ui-header>
  <div class="play-con-center">
    <div class="play-con">
      <nm-ui-status-bar (more)="showMore()">
        <left-content>
          <div class="steps">
            <i class="nwicon nwi-step mr-half"></i><span>{{ numGuessService.numGuessData.steps }}</span>
          </div>
        </left-content>
        <!-- <center-content>
          <div class="steps">
            <i class="nwicon nwi-cup"></i>:<span>{{ numGuessService.numGuessData.cup }}</span>
          </div>
        </center-content> -->
      </nm-ui-status-bar>
      <div class="game-con-center" #gameConCenter>
        <div class="num-guess-con">
          <div class="result-con">
            <div class="result-list">
              <div class="result-item" *ngFor="let historyItem of numGuessService.numGuessData.histories">
                <div>
                  <div>{{ historyItem.guess }}</div>
                  <div>
                    <span class="color-a">{{ historyItem.a }}A</span><span class="color-b"> {{ historyItem.b }}B</span>
                  </div>
                </div>
              </div>
              <div class="result-empty"></div>
              <div class="result-empty"></div>
              <div class="result-empty"></div>
              <div class="result-empty"></div>
            </div>
          </div>
          <div class="input-con">
            <div class="show-con">
              <div class="show-num-list">
                <div class="show-num-item" *ngFor="let item of guess">
                  {{ item === -1 ? "-" : item }}
                </div>
              </div>
            </div>
            <div class="delete-con" [class.is-disable]="
              guess[numGuessService.numGuessData.length - 1] !== -1
            " (click)="deleteClick()">
              <div class="delete-button">
                <i class="nwicon nwi-backspace"></i>
              </div>
            </div>
            <div class="submit-con" [class.is-disable]="isDisabled(-1)" (click)="submitClick()">
              <div class="submit-button"><i class="nwicon nwi-yes"></i></div>
            </div>
          </div>
          <div class="num-con">
            <div class="num-list">
              <div class="num-item" [class.is-disable]="isDisabled(num)" [class.is-not-in]="isMustNotIn(num)"
                *ngFor="let num of numGuessService.numBase" (click)="numClick(num)">
                {{ num }}
              </div>
              <div class="num-empty"></div>
              <div class="num-empty"></div>
              <div class="num-empty"></div>
              <div class="num-empty"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nm-num-guess-gameover *ngIf="numGuessService.gameResult.isOver"></nm-num-guess-gameover>